.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darkorange;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
.item {
  margin: 20px;
}

@media (max-width: 500px) {
  .footer {
    font-size: 1.1em;
    padding: 12px 10px;
  }
  .item {
    margin: 10px 12px;
  }
}

@media (max-width: 300px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .item {
    margin: 5px;
  }
}
