.todoForm {
  max-width: 60%;
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.modernInput {
  display: block;
  width: 100%;
  border: none;
  font-size: 16px;
  color: #000;
}
.modernInput:focus {
  outline: none;
}
.modernButton {
  display: inline-block;
  background-color: darkorange;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}
.inputContainer {
  display: flex;
}

@media (max-width: 500px) {
  .todoForm {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
  }
  .modernInput {
    font-size: 14px;
  }
  .modernButton {
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
  }
}
