.header {
  background-color: darkorange;
  text-align: center;
  height: 100px;
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  padding-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
  .header {
    font-size: 40px;
  }
}
