.item {
  max-width: 100%;
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.line {
  border: 1px solid #f4f4f4;
}
.deleteButton {
  float: right;
  padding: 12px 20px;
  background-color: darkorange;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
}
.classNameLine {
  text-decoration: line-through;
}

@media (max-width: 500px) {
  .deleteButton {
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 14px;
  }
  .item {
    font-size: 18px;
  }
}
